/* //------Containers------- */

.tableMobile-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "CORDOBA";
}

.cards-container {
    /* width: 90%; */
    min-width: 60dvw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-tableMobile {
    width: 80%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* //--------Input--------- */
.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
    color: #999;
}

.search-input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* //---------Button-------- */
.search-btn {
    width: 20%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #006ab9;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #005087;
}

.search-btn:focus {
    outline: none;
    border-color: #006ab9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

