.VALORES_ADMIN {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 15px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #9A9A9A;
    font-size: 12px;
}

.VALORES_ADMIN td {
    width: 30%;
    text-align: center;
    color: #707070;
}

.VALORES_ADMIN img {
    width: 30px;
    cursor: pointer;
    margin-right: 5px;
}