.navLogo-container {
    width: 100%;
    display: flex;
    border-top: 1px solid #cccecd;
    padding-top: 10px;
}

.logo-nav {
    width: 20%;
}

.logo-nav img {
    width: 280px;
    height: 75px;
    padding-left: 40px;
}

.palabra {
    width: 90%;
    font-family: "CORDOBA";
    text-align: center;
    cursor: default;
    color: rgba(0, 106, 185, 0.8);
    font-size: 15px;
}

@media (max-width: 1000px) {
    .logo-nav {
        display: none;
    }

    .palabra {
        width: 100%;
    }
}
