.INPUT {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.search-by {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.search-by span {
    font-family: "cordoba";
    height: auto;
    font-size: 0.8rem;
    color: #0b74d1;
}

.INPUT input {
    width: 60%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    padding-left: 20px;
}

.select-filtro {
    width: 90%;
    height: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* mobile */
.search-tableMobile {
    width: 80%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* //--------Input--------- */
.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
    color: #999;
}

.search-input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* //---------Button-------- */
.search-btn {
    width: 20%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #006ab9;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #005087;
}

.search-btn:focus {
    outline: none;
    border-color: #006ab9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
