.VALORES {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid hsl(0, 0%, 52%);
    font-family: "cordoba";
    font-size: 0.8rem;
    /* cursor: pointer; */
    list-style: none;
    /* border: 1px solid red; */
}

.VALORES:hover {
    background-color: #e8e4e4;
}

.VALORES li {
    width: 25%;
    text-align: center;
}

.VALORES li p {
    width: 100%;
    text-align: center;
}

.ROJO {
    color: #f2617a;
    font-weight: 700;
}

.VERDE {
    color: #5bd95f;
    font-weight: 700;
}

.DISABLE {
    color: #7c7777;
    font-weight: 700;
}

.PENDIENTE {
    color: #e4ce06;
    font-weight: 700;
}

a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.acciones-ordenes {
    display: flex;
    justify-content: center;
}

.acciones-ordenes img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.acciones-ordenes a {
    width: auto;
}

.CHECK {
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 30px;
    height: 2rem;
    appearance: none;
    border: 1px solid #888;
    border-radius: 5px;
}

/* Estilos para el checkbox marcado */
.CHECK:checked {
    background-color: rgba(
        0,
        106,
        185,
        0.8
    ); 
    border: 1px solid rgba(0, 106, 185, 0.8);
}
