.navbar-options {
    width: 100%;
    height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #878787;
}

.navbar-option {
    width: 95%;
    height: auto;
    padding: 8px;
    transition: background-color 0.3s;
    font-size: 1.8rem;
    border-radius: 5px;
    font-family: "CORDOBA";
}

.navbar-option a {
    cursor: pointer;
    color: #878787;
}

.navbar-option a:hover {
    color: #497dac;
}
